<div class="row" ng-init="init()">
	<div class="col s6 offset-s3">
		<div class="card-panel teal">
			<span class="white-text">Escolha um período de lançamento abaixo
			{!month!}/{!year!}</span>
		</div>
		<div class="input-field col s1">
			<input ng-model="month" placeholder="12" id="month" type="text" length="2"/>
		</div>
		<div class="input-field col s2">
			<input ng-model="year" placeholder="2000" id="year" type="text" length="4"/>
		</div>
		<div class="input-field col s3">
			<a class="waves-effect waves-light btn" href="#/movies/all/{!year!}-{!month!}">procurar</a>
		</div>
	</div>
</div>