<div class="row">
  	<!-- <ul class="collapsible col s8 offset-s2" data-collapsible="expandable">
		<li ng-repeat="g in genres">
			<div class="collapsible-header"><a href="#/movies/{!g.slug!}">{!g.name!}</a></div>
		</li>
	</ul> -->
	<div class="collection col s6 offset-s3">
		<a ng-repeat="g in genres" href="#/movies/{!g.slug!}" class="collection-item">{!g.name!}</a>
	</div>
</div>
