<div class="row">
  	<ul class="collapsible popout col s8 offset-s2" data-collapsible="accordion" ng-if="movies.length > 0" ng-init="init()">
		<li ng-repeat="m in movies">
			<div class="collapsible-header">{!m.title!}</div>
			<div class="collapsible-body">
				<img class="poster" src="/static/images/posters/{!m.id!}.jpg"/>
				<div class="launchDate">{!m.launch_year!}</div>
				<p>{!m.sinopsis!}</p>
			</div>
		</li>
	</ul>
	<div class="col s4 offset-s4" ng-if="movies.length == 0">
        <div class="card-panel teal">
			<span class="white-text">Não foram encontrados filmes deste gênero. Que tal tentar outro?</span>
        </div>
     </div>
</div>