<form>
	<div class="row">
		<div class="col s4 offset-s4 formbg hoverable">
			<div class="row">
				<div class="input-field col s12">
					<input id="movie_title" type="text" class="validate">
					<label class="active" for="movie_title">Título do Filme</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="launch_date" type="text" class="validate">
					<label class="active" for="launch_date">Data de Lançamento (ex: 01/02/03</label>
				</div>
			</div>
			<div class="row">
				<p>
					<input name="group1" type="radio" id="test1" />
					<label for="test1">Terror</label>
				</p>
				<p>
					<input name="group1" type="radio" id="test2" />
					<label for="test2">Fantasia</label>
				</p>
			</div>
			<div class="row">
				<a class="waves-effect waves-light btn">Adicionar filme</a>
			</div>
		</div>
	</div>
</form>